__pycache__/
*.pyc

.ipynb_checkpoints/

.env
.venv/
kaggle.json

data/*.csv
data/*.zip
data/*.parquet

tmp/
*.log

.DS_Store
Thumbs.db

source/test_predict_csv.py
source/test_predict.py
notebooks/catboost_info/

clients_predictions.csv
input_clients.csv

.claudeignore 